---
layout: layout
---

<h1><%= title %></h1>

<p><strong>Note:</strong> Due to COVID-19, Spring 2020 was an open/rolling application, so the Main and Mini Fund applications were not differentiated.</p>

<% prevQtr = '' %>
<% for (const proj of locals[content.trim()]) {%>
	<% if (proj.quarter !== prevQtr) { %>
		<hr>
		<h2><%= proj.quarter %> <%= proj.year %></h2>
		<% prevQtr = proj.quarter %>
	<% } %>
	<section>
		<hgroup>
			<h3><%= proj.name %></h3>
			<h4><%= proj.org %> &mdash; $<%= Math.round(proj.amt) %></h4>
		</hgroup>

		<p><%= proj.desc %>
	</section>
<% } %>
