---
title: The Team
---

<h1>Meet the TGIF Committee</h1>

<p>The TGIF Committee is the decision-making body of The Green Initiative Fund. It chooses which projects receive funding, approves changes to awards, and guides the general direction of TGIF.

<% for (const cat in locals.team) {%>
	<h2><%= cat %></h2>
	<% for (const person of locals.team[cat]) { %>
		<section class=person>
			<img src="<%= person.photo %>" alt="">
			<div>
				<hgroup>
					<h2><%= person.name %></h2>
					<h3><%= person.role %> | <span><a href =<%= person.email %>><person.phone>
Email</a></span></h3>
				</hgroup>
				<p><%= person.bio %>
				
			</div>
		</section>
	<% } %>
<% } %>
